.title {
  text-align: center;
  font-size: 32px;
  font-style: inherit;
  width: auto;
  padding: 2%;
  background-color: #65489D;
  color: white;
}

img{
  display: inline-block;
  width: 100%;
  height: 640px;
}

body{
  background-color: #000;
  text-align: center;
  padding: 0;
  margin: 0;
}

#zoombar{
  overflow: hidden;
  background-color: #65489D;
  text-align: center;
  display: inline-block;
  width: 50%;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 20px;
}

#streamVideo{
  border: none;
  display: inline;
  color: white;
  background-color: #65489D;
  padding: 15px 32px;
  text-align: center;
  }
  
.mid1{
  display: inline-block;
  width: 100%;
  height: 650px;
  overflow: auto;
  cursor: grab;
  cursor: -o-grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

  .button1{background-color: #4CAF50;} /* Green */
  .button2 {background-color: #008CBA;} /* Blue */
  .button3 {background-color: red;}/* red*/  
  .button4{background-color: #65489D;}
  .button5{
    background-color: #65489D;
    height: .1%;
    font-size: 2;
  }


.button1:hover {
  background-color: lightgreen;}
.button2:hover {
  background-color: lightblue;}
.button3:hover {
  background-color: lightcoral;}
.button4:hover {
  background-color: #b38fdb;}
.button5:hover {
  background-color: #b38fdb;}
h1{
  color: #fff;
  font-size: 24px;
}
.button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.head{
  left: 50%;
  border: none;
  color: white;
  background-color: #65489D;
  padding: 15px 15px;
  text-align: center;
  margin: 4px 2px;
  width: 100px;    
} 
.head:hover{
  background-color: #b38fdb;
}
.grid-container{
  display :inline-block;
  width : 100%;
  overflow : auto;
  margin : 0 auto;
}

.pageBarLeft{
  float : left;
  clear : none;
  min-width : 80px;
  min-height : 80px;
}
.rL{
  background-color : #65489D;
  color: white;
  float : none;
  clear : both;
  height : 100px;
  width : 100px;
}
.pL{
  background-color : #65489D;
  color: white;
  float : none;
  clear : both;
  height : 100px;
  width : 100px;
}
.lL{
  background-color : #65489D;
  color: white;
  float : none;
  clear : both;
  height : 100px;
  width : 100px;
}
.pageContent{
  display: inline-block;
  background-color : #000;
  clear : none;
  height :auto;
  width : 800px;
}
.pageBarRight{
  float : right;
  clear : none;
  min-width : 80px;
  min-height : 80px;
}
.rR{
  background-color : #65489D;
  color: white;
  float : none;
  clear : both;
  height : 100px;
  width : 100px;
}
.pR{
  background-color : #65489D;
  color: white;
  float : none;
  clear : both;
  height : 100px;
  width : 100px;
}
.lR{
  background-color: #65489D;
  color: white;
  float : none;
  clear : both;
  height : 100px;
  width : 100px;
}
.pageBottom{
  float: left;
  clear: none;
  height: 200px;
  /* width: 1000px; */
}

.rL:hover{
  background-color: #b38fdb;
}
.pL:hover{
  background-color: #b38fdb;
}

.lL:hover{
  background-color: #b38fdb;
}

.rR:hover{
  background-color: #b38fdb;
} 

.pR:hover{
  background-color: #b38fdb;
}

.lR:hover{
  background-color: #b38fdb;
}
  
#streamVideo:hover{
  background-color: #b38fdb;
}