body {
    background-color: #000;
    padding: 20px;
  }
  .button1{background-color: #4CAF50;} /* Green */
  .button2 {background-color: #008CBA;} /* Blue */
  .button3 {background-color: red;}/* red*/
  .button4 {background-color: #65489D;}


  .button1:hover {
    background-color: lightgreen;
  }
  .button2:hover {
    background-color: lightblue;
  }
  .button3:hover {
    background-color: lightcoral;
  }
  h1{
    color: #fff;
  }
  .button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    
  }
  .leftArm{
    border: none;
    color: white;

  }

  .title {
    text-align: center;
    width: 100%;
    padding: 2%;
    background-color: #65489D;
    color: white;
  }