  .title {
    text-align: center;
    font-size: 32px;
    font-style: inherit;
    width: 100%;
    padding: 2%;
    background-color: #65489D;
    color: white;
  }

  img{
    width: 400px;
    height: 300px;
  }

body {
    background-color: #000;
    text-align: center;
    padding: 0px;
  }

  .button1{background-color: #4CAF50;} /* Green */
  .button2 {background-color: #008CBA;} /* Blue */
  .button3 {background-color: red;}/* red*/  


  .button1:hover {
    background-color: lightgreen;}
  .button2:hover {
    background-color: lightblue;}
  .button3:hover {
    background-color: lightcoral;}
  h1{
    color: #fff;
    font-size: 24px;
  }
  .button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }




   .head{
    border: none;
    color: white;
    background-color: #65489D;
    display: inline-block;
    padding: 15px 32px;
    text-align: center;
    margin: 4px 2px;
    width: 200px;
  }
  .head:hover{
    background-color: #b38fdb;
  }


  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1.1fr 1.4fr 0.5fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 1px 1px;
    grid-template-areas:
      ". . . . . . . . . . ."
      "rL . . pic pic pic pic pic . . rR"
      "pL . . pic pic pic pic pic . . pR"
      "lL . . pic pic pic pic pic . . lR"
      ". . . . . . . . . . .";
  }
  .rL { grid-area: rL; }
  .lL { grid-area: lL; }
  .pL { grid-area: pL; }
  .pic { grid-area: pic; }
  .rR { grid-area: rR; }
  .pR { grid-area: pR; }
  .lR { grid-area: lR; }

    .rL,.lL, .pL, .lL, .rR, .pR, .lR{
    background-color: #65489D;
    border: none;
    color: white;
    display: flex;
    margin: 4px 2px;
    padding: 15px 32px;
    width: 100px;
  }
 /* #raise{
    display: flex;
    justify-content: space-between;
  }
  #point{
    display: flex;
    justify-content: space-between;
  }
  #lower{
    display: flex;
    justify-content: space-between;
  }


  #pointRightArm{
    height: 75px;     
  }

  #pointLeftArm{
    height: 75px;
  }
  .leftArm:hover{background-color: #b38fdb;}
  .rightArm{
    background-color: #65489D;
    border: none;
    color: white;
    display: flex;
    margin: 4px 2px;
    padding: 15px 32px;
    width: 100px; 
  }

  .rightArm:hover{
    background-color: #b38fdb;
  } */
